// src/styles/global.scss
@use 'variables' as *; // Підключаємо _variables.scss

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $color-text;

  &:hover {
    color: $color-accent-dark;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: background-color $transition-speed, color $transition-speed;
}

// Приклад класу для активної вкладки
.activeTab {
  color: $color-accent !important;
  border-bottom: 2px solid $color-accent;
}

// Можна додати інші глобальні стилі, reset тощо