@use '../../styles/variables' as *;

.pageContainer {
  background-color: $color-bg;   /* Світло-бежевий чи інший фон */
  color: $color-text;
  min-height: 100%;
  padding: 1rem;
  font-family: $font-base;  /* Можливо, \"Georgia\", serif чи схожий */

  /* Розташування «центрального» контейнера */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: $font-headers;
  font-size: 2rem;
  color: $color-accent;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.listContainer {
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  margin: 0 auto;
}

.listItem {
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.02);
    //box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
}