// src/components/HomeEl/InfoBlock/InfoBlock.module.scss
@import '../../../styles/_variables';
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.infoBlock {
  background-color: $color-paper;
  color: $color-text;
  border-radius: $border-radius;
  padding: 2rem 1.5rem;
  box-shadow: $box-shadow;
  font-family: 'Marck Script', cursive; /* Незвичайний шрифт */
  font-size: 1.2rem;
  line-height: 1.5;
  transition: transform $transition-speed, box-shadow $transition-speed;

  p {
    margin-bottom: 1rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
}

/* Адаптивність */
@media (min-width: 768px) {
  .infoBlock {
    font-size: 1.3rem;
  }
}