@use '../../styles/variables' as *;

.headerContainer {
  background: rgb(220,183,134);
  background: linear-gradient(90deg, rgba(220,183,134,1) 0%, rgba(239,229,213,1) 30%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-paper;
  padding: 0.75rem 1.5rem;
  box-shadow: $box-shadow;
  border-bottom: 2px solid $color-accent;
}

.logo {
  font-family: $font-headers;
  font-size: 1.8rem;
  color: $color-text;
  cursor: pointer;

  &:hover {
    color: $color-accent-dark;
  }
}

.navLinks {
  display: flex;
  gap: 1.5rem;

  a {
    font-size: 1rem;
    color: $color-text;
    padding: 0.25rem 0;
    transition: color $transition-speed, border-bottom $transition-speed;

    &.activeLink {
      color: $color-accent;
      border-bottom: 2px solid $color-accent;
    }

    &:hover {
      color: $color-accent-dark;
    }
  }
}

.authControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loadingText {
  color: $color-text;
  font-size: 0.9rem;
}

.dropdownBtn {
  color: $color-text;
  &:hover {
    color: $color-accent-dark;
  }
}

.authButton {
  background-color: $color-accent;
  color: $color-text-light;
  border: none;
  transition: background-color $transition-speed;

  &:hover {
    border-color: $color-accent-dark;
    background-color: $color-accent-dark;
    color: $color-text-light;
  }
}

.authButtonOutline {
  background-color: transparent;
  color: $color-accent;
  border: 2px solid $color-accent;
  transition: background-color $transition-speed, color $transition-speed;

  &:hover {
    background-color: $color-accent;
    color: $color-text-light;
  }
}
