// src/components/Map/Map.module.scss
@use '../../styles/_variables' as *;

.mapContainer {
  width: 100%;
  height: 600px;
  border: 2px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  position: relative;
}