// src/pages/HomePage/HomePage.module.scss
@use '../../styles/_variables' as *;

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.mainContent {
  flex: 1;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Якщо хочете, щоб InfoBlock був по центру */
}